html {
    font-size: 62.5%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  body {

    padding-bottom: 7rem;

    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.6rem;

    color: #1a2b5f;
  }

.btn{
  display: block;
  width: 10rem;
  height: 5rem;
  box-shadow: -5px -5px 5px #fff7,
               5px 5px 5px #0002 ;
  border-radius: 5px;
  padding: 0rem 1rem;
  margin: 0 auto;


  line-height: 5rem;
  text-align: center;

  background-color: transparent;
  color: black;
  font-weight: bold;

  cursor: pointer;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 3rem ;

    &__title{
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      text-shadow:-3px -3px 3px #fff7,
              3px 3px 3px #0002 ;

      margin-bottom: 2rem;

      color: black;

    }
    &__form{

        padding: 2rem;
        width: calc(50% - 2rem);
        border-radius: 0.5rem;

        background-color: rgb(216, 216, 216);
        box-shadow: inset -5px -5px 5px #fff7,
        inset  5px 5px 5px #0002 ;

        &--name{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-bottom: 2rem;
            & span{
                display: block;
                width:30% ;
            }
            & input:not([type*="radio"]){
                width: 50%;

                border: none;
                border-radius: 5px;
                outline: none;
                
                padding: 0.5rem;

                text-indent: 0.5rem;

              //   box-shadow: -5px -5px 5px #fff7,
              //  5px 5px 5px #0002 ;
            }
        }
        
    }
    &__list{
      width: calc(50% - 2rem);
      box-shadow: inset -5px -5px 5px #fff7,
      inset  5px 5px 5px #0002 ;
      padding: 2rem;

      background-color: rgb(216, 216, 216);
      
      &--table{
        width: 100%;
        max-height: 30rem;
        border: 1px solid #fff;
        border-radius: 5px;

        overflow-y: auto;
        box-sizing: content-box;

        text-align: center;
        & th{
          color: black;
          font-size: 1.8rem;
          font-weight: bold;
          text-transform: uppercase;

          padding: 1rem;

          background-color: #fff;
        }
        & tr, td{
          border:  1px solid #fff;
          padding: 0.5rem;
        }
        
      }

    }
  }

